<% linked_texts = current_page.data.linked_texts %>
<% if linked_texts && !linked_texts.empty? %>
    <div class="large-12 bg_gray">
      <div class="app_next">
        <h4 class="app_title app_thin app_h4"><span class="zakl"><i></i><%=linked_texts.count%></span><%= title %></h4>
        <ul class="ul_sub_cont app_dashed_top">
          <% linked_texts.each do |txt| %>
              <li class="app_chapter"><%= txt[:link] %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>