<% articles = current_page.data.linked_articles %>
<% if articles && !articles.empty? %>
    <div class="large-12 bg_gray">
      <div class="keywords clearfix">
        <h4 class="app_title app_thin app_h4">Связанные понятия:</h4>
        <ul class="app_keywords">
          <% articles.each do |article|  %>
              <li><%= link_to(article[:file_title], "/#{article[:parent_folder]}/#{article[:file_name]}.html") %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>