<div class="row">
  <div class="large-12"><a href="<%= pager(:prev) %>" class="a_pager prev "></a>
    <a href="<%= pager(:next) %>" class="a_pager next"></a>
    <h3 class="app_h_chapter app_thin app_gray text-center"><%= link_to title, link %></h3>
  </div>
</div>
