<div class="large-4 columns">
  <h3 class="app_thin app_lgray">Оглавление</h3>
  <p class="app_spaced">
    <!--если ссылка активна <span class="app_bold">1. Лабиринт</span><br>  -->
    <% data.home.chapters.each do |chapter|  %>
        <%= link_to "#{chapter[:number]}. #{chapter[:title]}", "/texts/#{chapter[:title_for_save]}/index.html" %>
        <br>
    <% end %>
  </p>
</div>