<div class="row">
  <div class="large-12 columns">
    <h2 class="app_title app_gray">Человек в Лабиринте<br><span class=app_normal>Выход есть</span></h2>
    <!-- <%= data.home.title %> -->
    <hr />
  </div>
</div>