/* overrides */
.body_bg_gray {background:#fbfbfb;}
.li_bg_gray {background:#fbfbfb; padding-bottom:0 !important;}
a.li_bg_gray {padding-bottom:10px !important;}
.app_thin {font-weight: 200 !important; font-family:Helvetica, HelveticaNeue-Light, Open Sans, arial;}
.app_normal {font-weight: normal !important}
.app_bold {font-weight: bold !important}
.app_hide {display: none !important}
.app_lgray {color: #aaa}
.app_gray {color: #4d4d4d}
.app_dgray {color: #555}
.app_black {color: #000 !important}
.app_dashed_top {border-top:1px dashed #efefef !important;}
.app_title {font-family:Helvetica, HelveticaNeue-Light, Open Sans, arial; font-size:26px; line-height: 110%; margin: 0 0 25px 0; padding:0 10px;}
.placeholder {color:#b2b2b2; background:#f8f8f8 !important; font-style:italic;}
.app_h4 {text-align:left;font-size:20px; color:#4d4d4d; margin: 0 0 10px 0}
.app_epigraph {text-align:right;font-family:Helvetica, HelveticaNeue-Light, Open Sans, arial; color:#808080;}
.app_thes {font-size: 90%;}
.app_personas {padding:0;}
.app_sup_chapter {font-family:Helvetica, HelveticaNeue-Light, Open Sans, arial; line-height: 130%; font-size: 16px;padding:0;}
.li_intro {background: #fbfbfb; font-size: 14px;}
.li_intro a {background: #fbfbfb;}
.app_sup_chapter.active {padding:0;}
.app_sup_chapter.active p {}
.app_sup_chapter a {color:#4d4d4d; display:block !important; padding-bottom:0;}
.app_sup_chapter a:visited {color:#919191;}
.app_chapter {line-height: 110%; margin: 12px 0 0 !important; padding-bottom:12px; font-size: 14px}
.app_chapter a {color:#158ae4; display:block !important;}
.app_chapter a:visited {color:#919191;}
.li_activ_cont p, .panel p {line-height: 140%; margin: 24px 0 6px 0 !important; font-family:Georgia; color:#4d4d4d; font-size:0.875em;}
.panel p {margin-top:0 !important;}
.app_personas p {padding:.75em 1em;}
.search_cont p {padding:0 0 30px; font-size:0.75em;}
.search_cont .app_search_results p {font-size:.75em; padding:0;}
.app_search_results {padding:0 20px 10px 20px;}
.app_about p, .app_about h2, .app_about li {padding:0 10px 10px;}
.app_search_results h3 {font-size:.9em;border:none; margin-top:0;margin-bottom:5px; padding-bottom:0;}
.app_person h3 {border:none;}
.app_search_results h4 {font-size:.7em;margin-top:0;}
.app_search_results p {margin-bottom:10px; font-family:Georgia;}
.app_h_chapter {font-size:0.9em; position:relative;}
.app_spaced {line-height: 200%;}
.app_quote {text-align: right; padding-left: 40%; font-size: 80%}
.app_text {font-family: optima-regular, georgia;}
.app_smaller {font-size: 90%}
.app_photo {width: 75px; height: 75px; max-width:75px !important; display:inline-block;}
.app_person .app_photo {width: 200px; height: 200px; max-width:200px !important; display:block; margin:0 auto;}
.app_search_word {font-weight:bold;background:#fefdd8; padding:0 3px;}
.match {background-color: yellow}
.li_none li, .app_keywords li, .app_about li {list-style-type: none;}
.app_keywords li {float:left;margin:0px 3px 3px 0;border:1px solid #efefef; background:#fff; padding:0 5px; font-family:Open Sans, arial; font-size: 13px;}
.app_keywords li a {color:#808080;}
.a_pager {position:absolute; display:block;width:10px;height:20px;cursor:pointer;}
.a_pager.prev {left:20px}
.a_pager.next {right:20px}
.app_fonts {padding:0 10px;}
