---
title: О приложении
---

<div class="row">
  <div class="large-12">
    <h3 class="app_thin app_gray text-center">Подробнее</h3>
  </div>
</div>
<div class="row">
  <div class="app_text app_about app_fonts bg_gray clearfix">
    <h2 class="app_thin app_gray">Размер шрифта</h2>
    <div class="small-4 columns text-center small-font"><p>мелкий</p></div>
    <div class="small-4 columns text-center mid-font active"><p>средний</p></div>
    <div class="small-4 columns text-center big-font"><p>крупный</p></div>
  </div>
</div>
<div class="row">

  <div class="large-12 bg_gray">
    <div class="app_text app_about">
      <h2 class="app_thin app_gray">О приложении</h2>
      <p>Приложение находится находится в разработке. Данная версия предназначена только для внутреннего тестирования.</p>
      <h2 class="app_thin app_gray">О Мастерской</h2>
      <p>Люди хотят научиться лучше обходиться со своей жизнью — организовать свое время, научиться предъявлять себя другим, понимать других, — в этом мы тоже можем помочь. Задача нашей работы состоит прежде всего в том, чтобы участники Мастерской психологически вставали на свои ноги и оставались стоящими на своих ногах. «Я смею полагать, что в нашей Мастерской живет Работа, а в нынешней ситуации только Работа может сделать человеческое существование осмысленным.» М.П. Папуш</p>
      <ul class="ul_sub_cont">
        <li class="app_chapter"><a href="#">http://www.papush.ru</a></li>
        <li class="app_chapter"><a href="#">Расписание</a></li>
        <li class="app_chapter"><a href="#">Блог Мастерской</a></li>
        <li class="app_chapter"><a href="#">Группа по воле</a></li>
      </ul>
      <h2 class="app_thin app_gray">Обратная связь</h2>
      <p>Если вы нашли опечатку или хотите предложить что-то относительно этого издания, напишите прямо сюда, мы получим ваше сообщение на наш email. Подпишитесь, чтобы мы могли вам отвечать.</p>
      <div class="has-form">
        <form action="search_results.html">
          <textarea class="placeholder" name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
          <input class="placeholder" id="text-field" type="text" placeholder="Подпись">
          <input type="submit" id="submit-field" value="Отправить" />
        </form>
      </div>
    </div>
  </div>

</div>