---
title: О приложении
---

<div class="row">
  <div class="large-12">
    <h3 class="app_thin app_gray text-center">Подробнее</h3>
  </div>
</div>
<div class="row">
  <div class="app_text app_about app_fonts bg_gray clearfix">
    <h2 class="app_thin app_gray">Размер шрифта</h2>
    <div class="small-4 columns text-center small-font"><p>мелкий</p></div>
    <div class="small-4 columns text-center mid-font active"><p>средний</p></div>
    <div class="small-4 columns text-center big-font"><p>крупный</p></div>
  </div>
</div>
<div class="row">

  <div class="large-12 bg_gray">
    <div class="app_text app_about">
      <h2 class="app_thin app_gray">О приложении</h2>
      <p>Приложение — компендиум текстов, которые в сжатой форме излагают принципы, теоретические и методические положения Работы-над-собой — в том виде, как она практикуется в Мастерской. Предлагаемая версия — предназначенный для внутреннего тестирования в Мастерской прототип будущего Приложения для мобильных устройств, задачей которого станет продвижение идей и ценностей Работы в открытом социуме.</p>
      <h2 class="app_thin app_gray">О Мастерской</h2>
      <p>Мастерская "Становление и развитие личности" — групповой формат Работы-над-собой под руководством московского психотерапевта и ведущего пневмопрактик М.П.Папуша. Основные направления Работы в Мастерской представлены психотехникой, психотерапией и превмотехникой.</p>
      <h2 class="app_thin app_gray">Обратная связь</h2>
      <p>Приложение находится в разработке, и мы будем благодарны за любые комментарии, замечания и предложения — как по содержанию, так и по техническим вопросам. Пожалуйста, сообщайте нам обо всех замеченных вами опечатках, нерабочих ссылках и прочих багах.</p>
      <div class="has-form">
        <form>
          <input type="button" id="submit-field" value="Написать письмо" onclick="window.location.href = 'mailto:mail@papush.ru?subject=' + encodeURIComponent('Обратная связь по аппу');" />
        </form>
      </div>
    </div>

  </div>
  <p class="slogan">Приложение обновлено <%= Time.now.localtime('+04:00').strftime('%e %b %Y, %k:%M') %></p>

</div>

<% content_for(:js, 'about.js') %>