---
title: О приложении
---

<div class="row">

  <div class="large-12 columns">
    <h2 class="app_title app_gray">О приложении</h2>
    <hr>
    <div class="panel app_thes">
      <h2 class="app_normal">АПП Developer Preview (version 0.1)</h2>


      <p>Приложение находится находится в разработке.
        Данная версия предназначена только для внутреннего тестирования.
        Все тексты, дизайн UI, верстка и код — сырые. Используйте на свой страх и риск :)</p>

      <p><span class="app_bold">Обратная связь:</span> <a href="mailto:phil@motka.ru">по e-mail</a></p>
    </div>
  </div>

</div>