---
title: О приложении
---

<div class="row">
  <div class="large-12">
    <h3 class="app_thin app_gray text-center">Подробнее</h3>
  </div>
</div>
<div class="row">
  <div class="app_text app_about app_fonts bg_gray clearfix">
    <h2 class="app_thin app_gray">Размер шрифта</h2>
    <div class="small-4 columns text-center small-font"><p>мелкий</p></div>
    <div class="small-4 columns text-center mid-font active"><p>средний</p></div>
    <div class="small-4 columns text-center big-font"><p>крупный</p></div>
  </div>
</div>
<div class="row">

  <div class="large-12 bg_gray">
    <div class="app_text app_about">
      <h2 class="app_thin app_gray">О приложении</h2>
      <p>Приложение &laquo;Человек в&nbsp;лабиринте&raquo;&nbsp;&mdash; компендиум текстов, которые в&nbsp;сжатой форме излагают принципы, теоретические и&nbsp;методические положения <nobr>Работы-над-собой</nobr>&nbsp;&mdash; в&nbsp;том виде, как она практикуется в&nbsp;Мастерской. Предлагаемая версия&nbsp;&mdash; предназначенный для внутреннего тестирования в&nbsp;Мастерской прототип будущего Приложения для мобильных устройств, задачей которого станет продвижение идей и&nbsp;ценностей Работы в&nbsp;открытом социуме.</p>
      <h2 class="app_thin app_gray">О Мастерской</h2>
      <p><a href="papush.ru">Мастерская &laquo;Становление и&nbsp;развитие личности&raquo;</a>&nbsp;&mdash; групповой формат <nobr>Работы-над-собой</nobr> под руководством московского психотерапевта и&nbsp;ведущего пневмопрактик <nobr>М. П. Папуша</nobr>. Основные направления Работы в&nbsp;Мастерской представлены психотехникой, психотерапией и&nbsp;пневмотехникой.</p>
      <h2 class="app_thin app_gray">Обратная связь</h2>
      <p>Приложение находится в&nbsp;разработке, и&nbsp;мы&nbsp;будем благодарны за&nbsp;любые комментарии, замечания и&nbsp;предложения&nbsp;&mdash; как по&nbsp;содержанию, так и&nbsp;по&nbsp;техническим вопросам. Пожалуйста, сообщайте нам обо всех замеченных вами опечатках, нерабочих ссылках и&nbsp;прочих багах.</p>
      <div class="has-form">
        <form>
          <input type="button" id="submit-field" value="Написать письмо" onclick="window.location.href = 'mailto:app.papush@gmail.com?subject=' + encodeURIComponent('Обратная связь по аппу');" />
        </form>
      </div>
    </div>

  </div>
  <p style="margin-left: 10px;" class="slogan">Приложение обновлено <%= Time.now.localtime('+04:00').strftime('%e %b %Y, %k:%M') %></p>

</div>

<% content_for(:js, 'about.js') %>