---
title: Мастерская
---

	<div class="row">
				
		<div class="large-12 columns">
			<h2 class="app_title app_gray">Мастерская</h2>
			<hr>
			<div class="panel app_thes">
				<h2 class="app_normal">Расписание занятий групп</h2>
				
				
				<p>Для получения дополнительной информации нажмите левой кнопкой мыши на название события в календаре. Если не указано иное, стоимость участия в двух/ трёхчасовой группе составляет 1000 руб.
									<p><span class="app_bold">Уточнить подробности:</span> можно по телефону +7 (917) 508–6739 (ежедневно с 10:00 до 21:00)</p>
			</div>
		</div>
		
	</div>
	<div class="row">	
	
		<div class="large-12 columns">
		
		 <iframe
		id="timetable"
		name="iframe"
		src="http://www.google.com/calendar/embed?showTitle=0&bgcolor=%23F4EEE3&src=m.papush%40gmail.com&ctz=Europe%2FMoscow"
		width="100%"
		height="600"
		scrolling="auto"
		align="top"
		frameborder="0"
		class="gcalendar">
		NO_IFRAMES		</iframe>
		
		</div>
	</div>

</body>
</html>
