---
title: Человек в Лабиринте
dont_show_topbar: true
body_class: index
---

<div class="content"><div class="wrapper">
  <div class="logo"><a href="intro.html"></a></div>
  <h1 class="text-center">
    <a href="intro.html">Человек в Лабиринте <span>Выход есть</span></a>
  </h1>
  <div class="divider"></div>
  <p class="slogan text-center"><a href="intro.html">Компендиум текстов по Рaботе над собой <br />в Мастерской М. Папуша</a></p>
</div></div>