---
title: PAPPUSH
layout: index
---

<div class=logo>
	<h1>
	    П<EM><a href="home.html">АПП</a></EM>УШ
	</h1>
	<h4>Приложение Мастерской становления личности М.П. Папуша</h4>
	
	<p>Идет загрузка...</p>
	<img src="img/ajax-loader.gif" border=0>
</div>