---
title: Человек в Лабиринте
dont_show_topbar: true
body_class: index
---

<div class="content"><div class="wrapper">
  <div class="logo"></div>
  <h1 class="text-center">
    <a href="intro.html">Человек в Лабиринте <span>Выход есть</span></a>
  </h1>
  <div class="divider"></div>
  <p class="slogan text-center">Компендиум текстов по Рaботе над собой <br />в Мастерской М. Папуша</p>
</div></div>
<footer class="text-center"><img src="img/ajax-loader.gif" border=0></footer>