---
title: Введение
---

<div class="content">
  <h1 class="text-center">
    Введение
  </h1>
  <div class="app_text">    
    <div class="wrapper">
      <p class="app_epigraph">Но так и быть, рукой пристрастной<br/>Прими собранье пестрых глав...</p>
      <p class="app_epigraph">А.С. Пушкин</p>
      <p>Предлагаемая подборка текстов задумана как компендиум — сжатое изложение принципов, теоретических и методических положений Работы-над-собой, как она практикуется в нашей Мастерской.</p>
      <p>Тексты очень разные, по стилистике и по сложности. Некоторые — совсем простые, обращенные к начинающим читателям, некоторые, наоборот, излагают сложные теоретические построения и обращены к людям, давно работающим в Мастерской.</p>
      <p>Электронная форма представления материала создает возможности, значительно превосходящие форму бумажной книги. Так, последовательность движения по материалу может быть различной — в зависимости от интересов, подготовки и намерений читателя. Это движение облегчается внутритекстовыми ссылками на статьи, так или иначе связанные с излагаемым материалом, и глоссарием, позволяющим разобраться в специфической терминологии Мастерской.</p>
      <p>Начать можно, например, в соответствии с названием Приложения, с раздела <a href="home.html#labirint">«Лабиринт»</a>. В нем представлены основные темы, существенные для Работы-над-собой: начальное положение человека, собирающегося начать Работу, некоторое представление о мире, который его окружает, о возможных методах Работы, о нашей идеологии. Три «отстройки» — от социума, от семьи и от самого себя — являются необходимыми линиями Работы, позволяющими выходить из Лабиринта на более высокие уровни существования. В соответствующих разделах Приложения разворачивается представление о том, как устроены эти «ловушки» и каким образом они держат человека в Лабиринте.</p>
      <p>Работа-над-собой предполагает движение как во внутреннем, так и во внешнем плане. Некоторые возможности преобразования внешней ситуации излагаются в разделе <a href="home.html#upravlenie-resursami">«Управление ресурсами»</a>.</p>
      <p>С другой стороны, успехи во внешнем плане мало значимы без изменения самого человека, поэтому параллельно необходимо осуществлять движение во внутренней Работе. Специальный раздел &nbsp;&mdash; <a href="home.html#rabota-nad-soboy"><nobr>&laquo;Работа-над-собой&raquo;</nobr></a>&nbsp;&mdash; посвящен идеям, принципам и методам Работы в целом. Общие идеи Работы конкретизируются в разделах, посвященных психотехнике (и частной ее форме — «бейсику» как <a href="home.html#beysik">Практикуму внимательного общения</a>) и психотерапии. Практические разделы опираются на общие представления о человеке (раздел <a href="home.html#lichnost-volya-ponimanie">&laquo;Личность, воля, понимание&raquo;</a>) и возможных дефектах в его психическом развитии и устройстве (<a href="home.html#nevroticheskie-mehanizmy"> &laquo;Невротические механизмы&raquo;</a>).</p>
      <p>В принципе, можно начать с любого текста, и от него двигаться по ссылкам к другим текстам. Например, читатель может выбрать темы в разделах <a href="home.html#upravlenie-resursami"> &laquo;Управление ресурсами&raquo;</a>, <a href="home.html#psihotehnika">&laquo;Психотехника&raquo;</a> или <a href="home.html#rabota-nad-soboy">&laquo;Работа-над-собой&raquo;</nobr></a>, и, пользуясь ссылками на связанные тексты и статьи глоссария, исследовать заинтересовавшие его вопросы.</p>
      <p>В целом, для хорошей <i>проработки</i> Приложения предполагается несколько прочтений, в результате которых можно получить представление о том, «где что лежит», а затем прохождение корпуса текстов под разными углами зрения в разном порядке.</p>
    <nav>
      <section class="bottom-bar-section clearfix">
        <ul class="row">
          <li class="columns small-4 contents text-center" >
            <a href="home.html"><i class="foundicon"></i>Оглавление</a>
          </li>

          <li class="columns small-4 glossary text-center">
            <a href="thesaurus.html"><i class="foundicon"></i>Глоссарий</a>
          </li>

          <li class="columns small-4 persons text-center">
            <a href="personas.html"><i class="foundicon"></i>Персоналии</a>
          </li>
        </ul>
      </section>
    </nav>
  </div></div>
</div>

