---
title: Введение
dont_show_topbar: true
---

<div class="content">
  <h1 class="text-center">
    Введение
  </h1>
  <div class="app_text">    
    <div class="wrapper">
      <p class="app_epigraph">Но так и быть, рукой пристрастной<br/>Прими собранье пестрых глав...</p>
      <p class="app_epigraph">А.С. Пушкин</p>
      <p>Предлагаемая подборка текстов задумана как компендиум — сжатое изложение принципов, теоретических и методических положений Работы-над-собой, как она практикуется в нашей Мастерской.</p>
      <p>Электронная форма представления материала создает возможности, значительно превосходящие форму бумажной книги. Так, последовательность движения по материалу может быть различной — в зависимости от интересов, подготовки и намерений читателя. Это движение облегчается внутритекстовыми ссылками на статьи, так или иначе связанные с излагаемым материалом, и глоссарием, позволяющим разобраться в специфической терминологии Мастерской.</p>
      <p>Начать можно, например, в соответствии с названием Приложения, с раздела <a href="texts/labirint/labirint-zhizni.html">«Лабиринт»</a>. В нем представлены основные темы, существенные для Работы-над-собой: начальное положение человека, собирающегося начать Работу, некоторое представление о мире, который его окружает, о возможных методах Работы, о нашей идеологии. Три «отстройки» — от социума, от семьи и от самого себя — являются необходимыми моментами Работы, позволяющими выходить из Лабиринта на более высокие уровни существования. В соответствующих разделах Приложения разворачивается представление о том, как устроены эти «ловушки» и каким образом они держат человека в Лабиринте.</p>
      <p>Работа-над-собой предполагает движение как во внутреннем, так и во внешнем плане. Некоторые возможности преобразования внешней ситуации излагаются в разделе <a href="texts/upravlenie-resursami/zadacha-upravleniya-resursami.html">«Управление ресурсами»</a>. </p>
      <p>С&nbsp;другой стороны, успехи во&nbsp;внешнем плане мало значимы без изменения самого человека, поэтому параллельно необходимо осуществлять движение во&nbsp;внутренней Работе. Специальный раздел&nbsp;&mdash; <a href="texts/rabota-nad-soboy/tri-stupeni-vhozhdeniya-v-rabotu.html"><nobr>&laquo;Работа-над-собой&raquo;</nobr></a>&nbsp;&mdash; посвящен идеям, принципам и&nbsp;методам Работы в&nbsp;целом.  Общие идеи Работы конкретизируются в&nbsp;разделах, посвященных психотехнике (и&nbsp;частной ее&nbsp;форме&nbsp;— «бейсику» как <a href="texts/beysik/bazovyy-praktikum-vnimatelnogo-obscheniya.html">Практикуму внимательного общения</a>) и&nbsp;психотерапии. Практические разделы опираются на&nbsp;общие представления о человеке (раздел <a href="texts/lichnost-volya-ponimanie/lichnost-istinnaya-i-lozhnaya.html">&laquo;Личность, воля и&nbsp;понимание&raquo;</a>) и&nbsp;возможных дефектах в&nbsp;его психическом развитии и&nbsp;устройстве (<a href="texts/nevroticheskie-mehanizmy/vvedenie-k-rassmotreniyu-nevroticheskih-mehanizmov.html"> &laquo;Невротические механизмы&raquo;</a>).</p>
      <p>Вообще можно, в&nbsp;принципе, начать с&nbsp;любого текста, который вас заинтересует, и&nbsp;от&nbsp;него двигаться по&nbsp;ссылкам на&nbsp;другие тексты. Например, можно начать с&nbsp;заинтересовавших читателя тем в&nbsp;разделах <a href="texts/upravlenie-resursami/zadacha-upravleniya-resursami.html"> &laquo;Управление ресурсами&raquo;</a>, <a href="texts/psihotehnika/uchitsya-horosho-zhit.html">&laquo;Психотехника&raquo;</a> или <a href="texts/rabota-nad-soboy/tri-stupeni-vhozhdeniya-v-rabotu.html">&laquo;Работа-над-собой&raquo;</nobr></a>, и, пользуясь ссылками на&nbsp;сопровождающие статьи и&nbsp;на&nbsp;статьи глоссария, исследовать заинтересовавшую тему.</p>
      <p>В&nbsp;целом для хорошей <em>проработки</em> Приложения предполагается несколько прочтений, в&nbsp;результате которых можно получить представление о&nbsp;том, &laquo;где что лежит&raquo;, а&nbsp;затем прохождение корпуса текстов под разными углами зрения в&nbsp;разном порядке. </p>
    <nav>
      <section class="bottom-bar-section clearfix">
        <ul class="row">
          <li class="columns small-4 contents text-center" >
            <a href="home.html"><i class="foundicon"></i>Оглавление</a>
          </li>

          <li class="columns small-4 glossary text-center">
            <a href="thesaurus.html"><i class="foundicon"></i>Глоссарий</a>
          </li>

          <li class="columns small-4 persons text-center">
            <a href="personas.html"><i class="foundicon"></i>Персоналии</a>
          </li>
        </ul>
      </section>
    </nav>
  </div></div>
</div>

