---
title: Введение
dont_show_topbar: true
---


<div class="content">
  <h1 class="text-center">
    Введение
  </h1>
  <div class="app_text"><div class="wrapper">
    <p>Предлагаемая подборка текстов задумана как компендиум — сжатое изложение принципов,  теоретических и методических положений Работы-над-собой, как она практикуется в нашей Мастерской.
    <p>Электронная форма представления материала создает возможности, значительно превосходящие форму бумажной книги.Так, последовательность движения по материалу может быть различной — в зависимости от интересов, подготовки и намерений читателя.
    <p><b>В этой вводной статье мы предложим некоторые пути движения по Приложению.</b></p>
    <div class="main_img text-center">
      <img id="Image-Maps_1201308041243504" src="img/sheme.png" usemap="#Image-Maps_1201308041243504" border="0" width="255" height="298" alt="" />
      <map id="_Image-Maps_1201308041243504" name="Image-Maps_1201308041243504">
        <area shape="poly" coords="175,0,158,27,101,27,86,0," href="texts/labirint/" alt="Лабиринт" title="Лабиринт"   />
        <area shape="poly" coords="117,46,121,78,0,77,0,45," href="texts/rabota-nad-soboy/" alt="Работа над собой" title="Работа над собой"   />
        <area shape="rect" coords="163,46,250,96" href="texts/upravlenie-resursami/" alt="Управление ресурсами" title="Управление ресурсами"    />
        <area shape="rect" coords="1,109,96,143" href="texts/psihotehnika/" alt="Психотехника" title="Психотехника"    />
        <area shape="rect" coords="154,110,250,142" href="texts/labirint/tri-otstroyki-1-otstroyka-ot-sotsiuma.html" alt="Три отстройки" title="Три отстройки"    />
        <area shape="rect" coords="3,171,99,203" href="texts/psihoterapiya/" alt="Психотерапия" title="Психотерапия"    />
        <area shape="rect" coords="121,173,183,205" href="texts/sotsium/" alt="Социум" title="Социум"    />
        <area shape="rect" coords="211,174,250,206" href="texts/semya/" alt="Семья" title="Семья"    />
        <area shape="rect" coords="177,211,212,243" href="texts/lichnost-volya-ponimanie/" alt="Я" title="Я"    />
        <area shape="rect" coords="54,258,159,293" href="texts/nevroticheskie-mehanizmy/" alt="Невротические механизмы" title="Невротические механизмы"    />
        <area shape="rect" coords="181,258,250,293" href="texts/lichnost-volya-ponimanie/" alt="Личность" title="Личность"    />
        <area shape="rect" coords="253,296,255,298" href="http://www.image-maps.com/index.php?aff=mapped_users_1201308041243504" alt="Image Map" title="Image Map" />
      </map>
    </div>
    <p>Начать можно, например, в соответствии с названием Приложения, с раздела <a href="#">«Лабиринт»</a>. В нем представлены основные темы, существенные для Работы-над-собой: начальное положение человека, собирающегося начать Работу, некоторое представление о мире, который его окружает, о возможных методах Работы, о нашей идеологии.
    <p>Работа-над-собой предполагает движение как во внутреннем, так и во внешнем плане. Некоторые возможности преобразования внешней ситуации излагаются в разделе <a href="#">«Управление ресурсами»</a>. В соответствии с тем, что в разделе «Лабиринт» указывается на необходимость для работающего дифференцироваться, отстраиваться от поглощения системами социума и семьи, можно обратить внимание на соответствующие разделы.
    <p>С другой стороны, успехи во внешнем плане мало значимы без изменения самого человека, поэтому параллельно необходимо осуществлять движение во внутренней Работе. Специальный раздел — <a href="#">«Работа над собой»</a> — посвящен идеям, принципам и методам Работы в целом.
    <p>Вообще можно, в принципе, начать с любого текста, который вас заинтересует, и от него двигаться по ссылкам на другие тексты.</p>
    <nav>
      <section class="bottom-bar-section clearfix">
        <ul class="row">
          <li class="columns small-4 contents text-center" >
            <a href="home.html"><i class="foundicon"></i>Оглавление</a>
          </li>

          <li class="columns small-4 glossary text-center">
            <a href="thesaurus.html"><i class="foundicon"></i>Глоссарий</a>
          </li>

          <li class="columns small-4 persons text-center">
            <a href="personas.html"><i class="foundicon"></i>Персоналии</a>
          </li>
        </ul>
      </section>
    </nav>
  </div></div>
</div>

