---
title: Глоссарий
---


<div class="row">
  <div class="large-12">
    <h3 class="app_thin app_gray text-center">Глоссарий</h3>
  </div>
</div>

<div class="large-12 bg_gray">

    <% data.tezaurus.groups.each do |group|%>
        <div class="row">
          <% group.each do |file| %>
              <div class="large-4 columns">
                <div class="panel app_thes">
                  <h3 class="app_thin"><span class="zakl"><i></i>2</span><a href="<%= file[:link] %>"><%= file[:title] %></a></h3>

                  <p><a href="<%= file[:link] %>" class="app_black"><%= file[:first_line] %></a></p>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

</div>